<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TOPARA | Outdoor Sofisticado y de Alta Tecnología</title>
  <link rel="icon" href="https://newbrandtotto.vtexassets.com/arquivos/topara-favicon-56.png">
  <link rel="stylesheet" href="/static/styleTopara.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <!-- HEADER -->
  <header class="header">
    <div class="header-left">
      <!-- MENÚ DEPORTES -->
      <div class="container-header">
        <button class="btn"><i class="arrow"></i>DEPORTES</button>
        <div class="dropDown">
          <a href="/templates/DEPORTES/senderismo.html">SENDERISMO</a>
          <a href="/templates/DEPORTES/trail_running.html">TRAIL RUNNING</a>
          <a href="/templates/DEPORTES/ciclismo.html">CICLISMO</a>
          <a href="/templates/DEPORTES/acuatico.html">ACUÁTICO</a>
        </div>
      </div>

      <!-- MENÚ MUJER -->
      <div class="container-header">
        <button class="btn"><i class="arrow"></i>MUJER</button>
        <div class="dropDown">
          <div class="container-header">
            <button class="btn"><i class="arrow"></i>ROPA</button>
            <div class="dropDown">
              <a href="/templates/MUJER/ROPA/chaquetas.html">CHAQUETAS</a>
              <a href="/templates/MUJER/ROPA/buzos.html">BUZOS</a>
              <a href="/templates/MUJER/ROPA/chalecos.html">CHALECOS</a>
              <a href="/templates/MUJER/ROPA/pantalones.html">PANTALONES</a>
              <a href="/templates/MUJER/ROPA/shorts.html">SHORTS</a>
              <a href="/templates/MUJER/ROPA/tops.html">TOPS</a>
              <a href="/templates/MUJER/ROPA/camisas.html">CAMISAS</a>
              <a href="/templates/MUJER/ROPA/camisetas.html">CAMISETAS</a>
              <a href="/templates/MUJER/ROPA/vestidos_de_baño.html">VESTIDOS DE BAÑO</a>
            </div>
          </div>
          <a href="/templates/MUJER/accesorios.html">ACCESORIOS</a>
        </div>
      </div>

      <!-- MENÚ HOMBRE -->
      <div class="container-header">
        <button class="btn"><i class="arrow"></i>HOMBRE</button>
        <div class="dropDown">
          <div class="container-header">
            <button class="btn"><i class="arrow"></i>ROPA</button>
            <div class="dropDown">
              <a href="#">CHAQUETAS</a>
              <a href="#">BUZOS</a>
              <a href="#">CHALECOS</a>
              <a href="#">PANTALONES</a>
              <a href="#">SHORTS</a>
              <a href="#">CAMISAS</a>
              <a href="#">CAMISETAS</a>
              <a href="#">VESTIDOS DE BAÑO</a>
            </div>
          </div>
          <a href="#">ACCESORIOS</a>
        </div>
      </div>

      <!-- ACCESORIOS -->
      <div class="container-header">
        <button class="btn"><i class="arrow"></i>ACCESORIOS</button>
        <div class="dropDown">
          <a href="#">BOTELLONES</a>
          <a href="#">CANGUROS</a>
          <a href="#">GORRAS Y GORROS</a>
          <a href="#">ORGANIZADORES</a>
        </div>
      </div>

      <!-- EQUIPAJE -->
      <div class="container-header">
        <button class="btn"><i class="arrow"></i>EQUIPAJE</button>
        <div class="dropDown">
          <a href="#">MORRALES</a>
          <a href="#">TULAS</a>
        </div>
      </div>

      <!-- SALE -->
      <div class="container-header">
        <button class="btn"><i class="arrow"></i>SALE</button>
        <div class="dropDown">
          <a href="/templates/SALE/sale.html">SALE</a>
        </div>
      </div>
    </div>

    <!-- LOGO -->
    <div class="header-center">
      <a href="/templates/LANDING/topara.html">
        <img src="https://newbrandtotto.vtexassets.com/assets/vtex.file-manager-graphql/images/9a3dd0e0-d845-43c6-90a1-3075391cee8d___903a386389044fc0d431d87cf59a1c78.svg" class="logo" alt="Logo Topara">
      </a>
    </div>

    <!-- DERECHA -->

    <div class="header-right">

    <!-- DERECHA: BUSCAR -->

    <div class="container-header">
      <div class="input-group mb-3">
        <input id="searchInput" class="form-control" placeholder="¿Que estas buscando?" style="display: none;">
        <button id="searchBtn" type="submit" class="btn-right"><i class="fa fa-search" aria-hidden="true"></i></button>

        <div id="msg"></div>
      </div>
    </div>

    <!-- DERECHA: INGRESAR -->

    <!-- Botón para abrir el modal -->
    <button id="openLoginBtn" class="btn-right"><i class="fa fa-user" aria-hidden="true"></i></button>

    <!-- Modal -->
    <div id="loginModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Iniciar Sesión</h2>
        <input type="text" id="username" placeholder="Usuario">
        <input type="password" id="password" placeholder="Contraseña">
        <button id="loginBtn">Entrar</button>
      </div>
    </div>


    <!-- DERECHA: CARRITO -->

      <div class="container-header">
        <button id="cart-button" class="btn-right"><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
        <div id="cart-panel" class="side-panel">
          <div class="panel-header">
            <button id="close-button">&times;</button>
            <h2>¡Tu carrito está vacío!</h2>
          </div>
          <div class="panel-content">
            <div class="category one-section">
              <a href="/templates/DEPORTES/trail_running.html" class="carrito"><img src="/assets/img/carrito1.png" alt=""></a>
              <a href="/templates/DEPORTES/ciclismo.html" class="carrito"><img src="/assets/img/carrito2.png" alt=""></a>
              <a href="/templates/EQUIPAJE/equipaje.html" class="carrito"><img src="/assets/img/carrito3.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- CARRUSEL -->
  <div class="carrucel-container">
    <div class="carrucel-inner">
      <div class="carrucel-item active">
        <a href="/templates/LANDING/CARRUCEL/azulInstinto.html">
          <img src="https://newbrandtotto.vtexassets.com/assets/vtex.file-manager-graphql/images/696555a8-9f06-4f35-be58-0ad808ad2e97___8cfe3f9b06cf9571cf3a8d91224886d6.png" alt="">
        </a>
      </div>
      <div class="carrucel-item">
        <a href="/templates/HOMBRE/chaquetasHombre.html">
          <img src="https://newbrandtotto.vtexassets.com/assets/vtex.file-manager-graphql/images/47992d9a-8ff6-4d19-a3ca-299b4e094f46___ca9247c6875dde81a7dcb6d0496cd6b0.png" alt="">
        </a>
      </div>
      <div class="carrucel-item">
        <a href="/templates/HOMBRE/chaquetasHombre.html">
          <img src="https://newbrandtotto.vtexassets.com/assets/vtex.file-manager-graphql/images/e77a09a2-824c-471e-8c55-50c89edcc384___3887d538a22e6a7d2dcce38f268bdf8f.png" alt="">
        </a>
      </div>
    </div>
    <button class="carrucel-control prev"><</button>
    <button class="carrucel-control next">></button>
    <div class="carrucel-indicators">
      <span class="indicator active"></span>
      <span class="indicator"></span>
      <span class="indicator"></span>
    </div>
  </div>

    <!-- SECCIÓN PREMIUM -->
  <section id="premiumSection" style="display:none; background: gold; padding: 20px; margin-top: 20px;">
    <h2>🌟 Zona Premium</h2>
    <p>Solo visible para usuarios premium.</p>
  </section>

  <!-- SECCIONES PRODUCTOS -->

  <div class="section-spacer"></div>

  <div class="contenedor-texto">
  <h1 class="texto">TODO PARA CONQUISTAR TU PRÓXIMA AVENTURA</h1>
  </div>

  <div class="section-spacer"></div>

  <div class="one-section">
    <a href="/templates/MUJER/mujer.html"><img src="/assets/img/MUJER.jpg" alt=""></a>
    <a href="/templates/HOMBRE/hombre.html"><img src="/assets/img/HOMBRE.jpg" alt=""></a>
    <a href="/templates/EQUIPAJE/equipaje.html"><img src="/assets/img/EQUIPAJE.png" alt=""></a>
    <a href="/templates/ACCESORIOS/accesorios.html"><img src="/assets/img/ACCESORIOS.png" alt=""></a>
  </div>

  <div class="section-spacer"></div>

  <div class="contenedor-texto">
    <h1 class="texto">RECORRE LATINOAMÉRICA CON TOPARA</h1>
  </div>

  <div class="section-spacer"></div>

  <section class="productos-compra">
    <article class="producto-item">
      <img src="/assets/img/1.webp" alt="Producto 1" class="imagen-producto" data-modal-id="producto1">
      <span>Chaqueta Térmica para Mujer Nevado del Ruíz Negra</span>
      <span>$ 599.000</span>
    </article>

    <article class="producto-item">
      <img src="/assets/img/2.webp" alt="Producto 2" class="imagen-producto" data-modal-id="producto2">
      <span class="nombre-producto">Chaqueta Térmica para Mujer Glaciares</span>
      span
    </article>

    <article class="producto-item">
      <img src="/assets/img/3.webp" alt="Producto 3" class="imagen-producto" data-modal-id="producto3">
      <span class="nombre-producto">Camiseta Manga Larga Tayrona Mujer - Rosada</span>
    </article>

    <article class="producto-item">
      <img src="/assets/img/4.webp" alt="Producto 4" class="imagen-producto" data-modal-id="producto4">
        <span class="nombre-producto">Chaleco Acolchado para Mujer Aránzazu - Blanco</span>
    </article>

    <div id="miModal" class="modal">
        <div class="modal-contenido">
            <span class="cerrar-btn">&times;</span>
            <img id="modal-imagen" src="" alt="Imagen ampliada" class="modal-imagen">
            <div class="modal-texto">
                <h3 id="modal-titulo"></h3>
                <p id="modal-descripcion"></p>
                <p id="modal-precio"></p>
            </div>
        </div>
    </div>
  </section>

<!-- ------------------------------------------ -->

  <!-- IMAGEN-DESCUENTO -->
   <a href="/templates/LANDING/registro.html">
  <img src="https://newbrandtotto.vtexassets.com/assets/vtex.file-manager-graphql/images/9a5f4af4-6a32-4cef-b5b0-fcb3058bbf10___e16162e80398bdeb0e9acfa4b30b6570.png" class="img-off" alt="">
  </a>

  <!-- -------------------------------------------- -->

  <div class="section-spacer"></div>

  <div class="contenedor-texto">
    <h1 class="texto">COMODIDAD Y RENDIMIENTO EN CADA TRAVESÍA</h1>
  </div>

  <div class="section-spacer"></div>

<section class="productos-compra">
  <article class="producto-item">
    <img src="/assets/img/5.webp" alt="Producto 5" class="imagen-producto" data-modal-id="producto5">
    <span>Tula Deportiva Plegable Ultraligera Grande Poas 53L - Negra</span>
    <span>$ 129.900</span>
  </article>

  <article class="producto-item">
    <img src="/assets/img/6.webp" alt="Producto 6" class="imagen-producto" data-modal-id="producto6">
    <span class="nombre-producto">Morral Hidratante de 8L Machu Picchu Negro</span>
    <span>$ 199.900</span>
  </article>

  <article class="producto-item">
    <img src="/assets/img/7.webp" alt="Producto 7" class="imagen-producto" data-modal-id="producto7">
    <span class="nombre-producto">Drypack Impermeable Unisex Orinoco - Naranja</span>
    <span>$ 299.900</span>
  </article>

  <article class="producto-item">
    <img src="/assets/img/8.webp" alt="Producto 8" class="imagen-producto" data-modal-id="producto8">
      <span class="nombre-producto">Canguro Deportivo Machu Picchu - Negro</span>
      <span>$ 99.900</span>
  </article>

  <div id="miModal" class="modal">
      <div class="modal-contenido">
          <span class="cerrar-btn">&times;</span>
          <img id="modal-imagen" src="" alt="Imagen ampliada" class="modal-imagen">
          <div class="modal-texto">
              <h3 id="modal-titulo"></h3>
              <p id="modal-descripcion"></p>
              <p id="modal-precio"></p>
          </div>
      </div>
  </div>
</section>

<!-- ----------------------------------------------- -->

  <div class="section-spacer"></div>

  <div class="contenedor-texto">
  <h1 class="texto">DESAFIA TUS LÍMITES Y CONQUISTA LA AVENTURA</h1>
  </div>

  <div class="section-spacer"></div>

  <div class="one-section">
    <a href=""><img src="" alt=""></a>
    <a href=""><img src="" alt=""></a>
    <a href=""><img src="" alt=""></a>
    <a href=""><img src="" alt=""></a>
  </div>

  <div class="section-spacer"></div>

<!-- ---------------------------------------------- -->

  <div class="section-spacer"></div>

  <div class="contenedor-texto">
    <h1 class="texto">CONOCE NUESTRA HISTORIA</h1>
  </div>

  <div class="section-spacer"></div>

   <a href="/templates/LANDING/registro.html">
  <img src="https://newbrandtotto.vtexassets.com/assets/vtex.file-manager-graphql/images/cb9333ec-f244-4343-83d7-30335ba9a0f6___e67bc8ae8310e355ad53a6511c902c45.png" class="img-off" alt="">
  </a>

  <div class="section-spacer"></div>

  <div class="contenedor-texto">
  <h1 class="texto">UN POCO DE NUESTRA TECNOLOGÍA</h1>
  </div>

  <section class="mas-info">
    <article>
      <img src="/assets/img/proteccion uv.png" alt="" class="imagen-producto">
      <span class="nombre-producto">La protección UV de nuestros productos bloquea los rayos nocivos del sol, cuidando tu piel.</span>
    </article>

    <article>
      <img src="/assets/img/secado rapido.png" alt="" class="imagen-producto">
      <span class="nombre-producto">El tejido de secado rápido mantiene tu ropa fresca y cómoda, ideal para cualquier actividad.</span>
    </article>

    <article>
      <img src="/assets/img/liviano.png" alt="" class="imagen-producto">
      <span class="nombre-producto">El diseño liviano asegura máxima comodidad y libertad de movimiento en cada travesía.</span>
    </article>

    <article>
      <img src="" alt="" class="imagen-producto">
      <span class="nombre-producto">Completa impermeabilidad que te mantienen seco en cualquier travesía, resistiendo al agua y al clima.</span>
    </article>

    <article>
      <img src="/assets/img/respirable.png" alt="" class="imagen-producto">
      <span class="nombre-producto">El tejido respirable asegura frescura y ventilación constante para tu máxima comodidad.</span>
    </article>

  </section>

  <div class="section-spacer"></div>

  <div>
    <h1>Equipaje, accesorios y ropa outdoor con rendimiento</h1>
    <br>
    <p>Aquí habita el espíritu del aire libre en Latinoamérica que cobra vida, desde las majestuosas cumbres de los Andes hasta la selva del Amazonas. Te invitamos a sumergirte en una comunidad que celebra las maravillas naturales del pulmón del mundo. Con nuestra ropa, equipaje y productos de alta tecnología para senderismo, ciclismo, trail running y deportes acuáticos, diseñados para mujeres y hombres, podrás desafiar tus límites y alcanzar nuevas metas.

¡Conquista tu próxima travesía y únete a nosotros para demostrar que no existen objetivos imposibles!</p>
    <br>
    <h1>Explora Senderos y Vive la Montaña con Amigos</h1>
    <p>Siente la emoción de cada cima y la libertad de los senderos junto a quienes más quieres. Esta temporada celebra con regalos para tus amigos o pareja que inspiran aventuras y recuerdos

Regala Equipaje especializado, Ropa outdoor o Accesorios Deportivos para acompañar cada ruta. Con amigos o en pareja, cada paso se vuelve más intenso y cada recuerdo más memorable. Además del 12 al 21 de Septiembre 2025 al comprar tu primera prenda llevas la segunda con 50% de descuento.

¡La montaña nos une y convierte tus regalos en momentos que permanecen en el corazón!</p>
  </div>

  <div class="section-spacer"></div>

  <section class="mas-info">
    <article class="nombre-producto">
      <h1>¿Qué es TOPARA?</h1>
      <p>TOPARA se inspira en la cultura andina "Topará", símbolo de exploración y maestría textil. Te equipamos para vivir tu propia historia en los paisajes mas imponentes fusionando herencia y modernidad. Aplicando tecnología especializada en ropa y equipaje outdoor. Capas térmicas 3M Cruelty Free, membranas impermeables y transpirables de 15.000-20.000 mm y fibras con protección solar UPF 50+.</p>
    </article>

    <article class="nombre-producto">
      <h1>¿Qué son los precios especiales?</h1>
      <p>Los precios especiales son descuentos exclusivos en ropa deportiva y equipamiento outdoor que encontrarás en el SALE DE TOPARA , con rebajas de hasta el 40%. Incluyen productos como dry packs impermeables, vestidos de baño, camisetas deportivas, pantalonetas y buzos, todos con tecnología de alto rendimiento. ¡Muévete más y gasta menos con las promociones irresistibles!</p>
    </article>

    <article class="nombre-producto">
      <h1>¿Cuál sería el regalo perfecto para un amigo?</h1>
      <p>El regalo ideal para esa persona especial refleja su personalidad, inspira aventura y crea recuerdos. Hay obsequios que refuerzan lazos con amigos o pareja. Una mochila especializada, ropa outdoor que protege en la montaña o un dry pack impermeable. Aprovecha del 12 al 21 de Septiembre 2025 compra tu primera prenda y la segunda lleva el 50% OFF. ¡Regala experiencias!</p>
    </article>
  </section>

  <div class="section-spacer"></div>

  <footer class="footer">

    <article class="">
      <h2>AYUDA</h2>
      <ul>
        <li>
          <a href="">Términos y condiciones</a>
          <a href="">Preguntas Frecuentes</a>
          <a href="">Envíos y entregas</a>
          <a href="">Cambios y devoluciones</a>
          <a href="">Compra asistida por Whatsapp</a>
          <a href="">Aviso de privacidad</a>
          <a href="">Política tratamiento de datos</a>
          <a href="">Promociones vigentes</a>
        </li>
      </ul>
    </article>

  </footer>



  <!-- JS -->
  <script src="/static/appTopara.js"></script>

  <!-- BOTÓN WHATSAPP -->
  <a href="https://api.whatsapp.com/send/?phone=573165313333&text=Hola,%20tengo%20una%20inquietud%20y%20vengo%20de%20la%20tienda%20online" class="whatsapp-flotante">
    <img src="/assets/img/whatsapp.png" alt="Chatear por WhatsApp">
  </a>
</body>
</html>
